body {
	background-color: rgb(134,4,32);
	font-family: fantasy;
	color: rgb(229,183,43);
	text-align: center;
	font-size: 20px;
}

h1 {
	font-size: 60px;
	border-bottom: 2px solid rgb(229,183,43);
	color: rgb(134,4,32);
}

h2 {
	font-size: 40px;
}

input {
	color: red;
}

.audio-player {
	width: 99px;
	margin-top: 30px;
}

.audio-player1 {
	width: 99px;
	margin-top: 30px;
}

.my-border {
	border: solid 3px rgb(229,183,43);
	background-color: rgba(134,4,32,0.4);
}

.back-pics {
	position: absolute;
	width: 100%;
	height: auto;
	left: 0;
	z-index: -1;
}

.back-pics1 {
	position: absolute;
	width: 100%;
	height: auto;
	left: 0;
	z-index: -1;
	top: 100%;
}

.back-pics2 {
	position: absolute;
	width: 100%;
	height: auto;
	left: 0;
	z-index: -1;
	top: 200%;
}

.time-left {
	position: fixed;
	right: 10px;
	top: 50%;
	padding: 10px;
	background-color: rgb(134,4,32);
	border: solid 2px rgb(229,183,43);
}

.all-done {
	padding: 10px;
	background-color: rgb(134,4,32);	
	border: solid 2px rgb(229,183,43);
	font-size: 50px;
}


.stats {
	background-color: rgba(134,4,32,.7);
	border: solid 2px rgb(229,183,43);
}

label {
	transition: all 0.2s ease-in;
    text-decoration:none;
}

label:hover {
	-webkit-stroke-width: 5.3px;
    -webkit-stroke-color: #FFFFFF;
    -webkit-fill-color: #FFFFFF;
    text-shadow: 1px 0px 20px yellow;
}

.radio-got [type="radio"]:checked+label:after {
    border-color: #00C851;
    background-color: #00C851;
}

